<app-top></app-top>
<div id="layoutSidenav">
  <app-sidebar></app-sidebar>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid mt-3">
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">Dashboard</li>
          <li class="breadcrumb-item ">Call</li>
        </ol>
        <br/><br/>

        <h1>List of Call</h1>
        <button class="btn btn-sm font-weight-bold btn-link" (click)="exportToExcel()">
          <i class="fa fa-external-link"></i>
          Export to Excel
        </button>
        <div class="table-responsive mt-4" *ngIf="Utilisateur['role']=='user'">
          <table class="table table-condensed table-bordered table-hover"  width="100%" cellspacing="0" >
            <thead class="bg-dark text-white">
            <th>ID</th>
            <th>Telephone</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Institution</th>
            <th>Identite</th>
            <th>Date</th>
            <th>OPTION</th>
            </thead>

            <tbody>
            <tr *ngFor="let appel of appels">
              <td>{{appel.id}}</td>
              <td>{{appel.telephone}}</td>
              <td>{{appel.nom}}</td>
              <td>{{appel.prenom}}</td>
              <td>{{appel.institution}}</td>
              <td>{{appel.identite}}</td>
              <td>{{appel.createdAt | date :'short' }}</td>
              <td>
                <button class="btn btn-sm btn-icon btn-outline-secondary mr-1" routerLink={{appel.id}}>
                  <i class="fa fa-edit  text-success mdi-18px" aria-hidden="true"></i>
                </button>
                <button class="btn btn-sm btn-icon btn-outline-secondary mr-1" (click)="delete(appel.id)">
                  <i class="fa fa-trash  text-danger mdi-18px" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive mt-4" *ngIf="Utilisateur['role']=='admin'">
          <table class="table table-condensed table-bordered table-hover"  width="100%" cellspacing="0" >
            <thead class="bg-dark text-white">
            <th>ID</th>
            <th>Telephone</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Institution</th>
            <th>Identite</th>
            <th>Utilisateur</th>
            <th>Date</th>
            <th>OPTION</th>
            </thead>

            <tbody>
            <tr *ngFor="let appel of appels">
              <td>{{appel.id}}</td>
              <td>{{appel.telephone}}</td>
              <td>{{appel.nom}}</td>
              <td>{{appel.prenom}}</td>
              <td>{{appel.institution}}</td>
              <td>{{appel.identite}}</td>
              <td>{{appel.User['nomcomplet']}}({{appel.User['pseudo']}})</td>
              <td>{{appel.createdAt | date :'short' }}</td>
              <td>
                <button class="btn btn-sm btn-icon btn-outline-secondary mr-1" routerLink={{appel.id}}>
                  <i class="fa fa-edit  text-success mdi-18px" aria-hidden="true"></i>
                </button>
                <button class="btn btn-sm btn-icon btn-outline-secondary mr-1" (click)="delete(appel.id)">
                  <i class="fa fa-trash  text-danger mdi-18px" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </main>
    <app-footer></app-footer>
  </div>
</div>
