<app-top></app-top>
<div id="layoutSidenav">
  <app-sidebar></app-sidebar>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid mt-3">
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">Dashboard</li>
          <li class="breadcrumb-item ">User</li>
        </ol>
        <br/><br/>
        <div class="container">
          <div class=" col-lg-10 col-md-10 c0l-sm-12">
            <div class="card mb-4">
              <div class="card-header">
               CHANGE USER PASSWORD
              </div>
              <div class="card-body">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group">
                        <label>New Password</label>
                        <div class="position-relative">
                          <i data-feather="user" class="fea icon-sm icons"></i>
                          <input name="password1" minlength="6" type="password" class="form-control pl-5" ngModel required="">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Confirmed New Password</label>
                        <div class="position-relative">
                          <i data-feather="user" class="fea icon-sm icons"></i>
                          <input name="password2" type="password" minlength="6" class="form-control pl-5" ngModel required="">
                        </div>
                      </div>
                    </div>


                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <input [disabled]="f.invalid" type="submit" id="submit" name="send" class="btn btn-primary"
                             value="change">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>
    <app-footer></app-footer>
  </div>
</div>
